////////////////////////// VARIABLES //////////////////////////
$primary: rgb(204, 176, 149);
$primary600: rgba(204, 176, 149, 0.6);
$secondary: rgb(221, 221, 221);
$secondary600: rgba(221, 221, 221, 0.6);



