////////////////////////// VARIABLES //////////////////////////
$primary200: rgba(229, 186, 149, 0.2);
$primary400: rgba(229, 186, 149, 0.4);
$primary600: rgba(229, 186, 149, 0.6);
$primary800: rgba(229, 186, 149, 0.8);
$primary: #E5BA95;
$secondary200: rgba(49, 81, 87, 0.2);
$secondary400: rgba(49, 81, 87, 0.4);
$secondary600: rgba(84, 138, 147, 0.6);
$secondary800: rgba(49, 81, 87, 0.8);
$secondary: #315157;

// gradients



////////////////////////// MIXINS //////////////////////////


